* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 35px;
    text-align: center;
    margin: 40px; 
    letter-spacing: 1px;
}
.box, .box2{
    width: 50%;
    height: 50vh;
    margin: auto;
    background-color: #51ee59;
    border: 3px solid #04baf1;
    outline: 3px solid #ff00d4;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #d4f804;
    margin-top: 50px;
    margin-bottom: 50px;
}